

.container {
  border: 1px solid black;
  display: inline;
}

.container h1 {
  text-align: center;
}
.navBar {
  border: 1px solid black;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.team {
  border: 1px solid black;
  max-width: 25%;
  display: inline;

  float: left;
  border: 1px solid black;
}

.playerDetails img {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  border: 1px solid black;
  width: 300px;
  height: auto;
  float: right;
}

.playerStats {
  border: 1px solid black;
}

.teamImages img {
  max-width: 60%;
  margin: 0 auto;
}


li {
  list-style-type: none;
}
