* {
  font-family: helvetica;
  line-height: 1.5;
}

.container {
  display: inline;
}

.container h1 {
  text-align: center;
}
.navBar {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.team {
  max-width: 25%;
  display: inline;
  float: left;
  border: 1px solid black;
}

.playerDetails img {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  border: 1px solid black;
  width: 300px;
  height: auto;
  float: right;
  margin-left: 20%;
}
.playerDetails {
  width: 80%;
  margin-left: 20%;
  font-weight: lighter;
}

.playerButton {
  margin-left: 20%;
}

.playerStats {
  margin-left: 30%;
  font-weight: lighter;
}

.battingStats {
  text-align: left;  
}

.matchReport {
  padding: 20px;
}
.teamImages img {
  max-width: 60%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  font-weight: lighter;
}

li {
  list-style-type: none;
}
